extends layout

//- WHEN UPDATED, UPDATE THE JS EVENT CODE TOO.
mixin drawevent(event)
  - var venue = event.venue.id;
  - var eventId = event.id;
  - var idDate = eventId + 'Date';
  - var idButton = eventId + 'Button';
  - var idArtist = eventId + 'Artist';
  div(class='row event' class=venue id=eventId)
      .col-12
        .row
          div(class="col-7 artist" id=idArtist)
            = event.performance[0].displayName
          .col-5
            = event.type
        .row
          = event.location.city
        .row
          div(class="date col-6" id=idDate)
            = event.start.date
          .col-6(style='float:right;')
            button.btn.btn-info.btn-sm.button(type='button', data-toggle='modal', data-target='#eventDetails' id=idButton) More info

block head
  meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  title MapIt Music

block links
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.1/moment-range.js"></script>
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/javascripts/script.js") 


block search
  #search.row
    .col-3
      h1 MapIt Music
    .col-3
      form(method='get')
            | SongKick Username: <br>
            input(type='text' name='username')
            input(type="submit" value="Go" style="float: left")
    .col-3
      | Choose an artist: <br>
      input(type='text' id='singleArtistName' name='singleArtistName')
      input(type="submit" name="search" value="Go" style="float: left" id="singleArtistSubmit")
    .col-3
      | Choose a date range: <br>
      input(type='text', id='daterange' name='daterange', value='01/01/2018 - 01/01/2020')
      script.
        $(function() {
          $('input[name="daterange"]').daterangepicker({
              opens: 'right',
              locale: {
                      format: 'DD/MM/YYYY'
                      }
            }, function(start, end, label) {
                google.maps.event.trigger(map, 'bounds_changed');
            });
        });


block map 
  script.
    function initMap() {
      let locations = !{JSON.stringify(locations)};

      var myLatLng = {lat: 0, lng: 15};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: myLatLng
      });
      // Get the map to client side
      getMap(map);
      let markers = [];
      // Add the markers to the map
      addMarkers(map, markers, locations);
      // Add the listener to update side bar as bounds change
      mapListener(map, markers);
      // Get the markers
      getMarkers(markers);

      var centerControlDiv = document.createElement('div');
      var centerControl = new CenterControl(centerControlDiv, map);

      centerControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

      }
  script(async="", defer="", src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA9-HHJhzau_xzMF_1rMQm3YiC0xDvzKxU&callback=initMap')

block footer
  //- Display event information
  //- Modal 
  #eventDetails.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4#modelTitle.modal-title 
          button.close(type='button', data-dismiss='modal') ×
        .modal-body
          h6 Date:
          #startDate
          h6 Location:
          #venueLocation
          h6 Link: 
          a#urlLink(href='#')
          h6 Similar artists: 
          #simArt
          a(href='#' id='searchBySimilar') Search by similar artists
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

    